.container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.map {
  box-shadow: var(--shadow-12);
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  text-align: right
}

.address {
  font-family: var(--font-title);
  font-size: 2rem;
  color: var(--principal-500);
  font-weight: 600;
  letter-spacing: 0.125rem;
}

.reference {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--black-50);
}

@media (max-width: 37.5rem) {
  .map {
    height: 34.375rem;
  }

  .address {
    font-size: 1.50rem;
  }

  .reference {
    font-size: 1rem;
  }
}